.task-list-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.task-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 18px;
}